@page "/categories/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Categoría</h3>

<CategoryFrom @ref="categoryForm" Category="category" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Category category = new();
    private CategoryFrom? categoryForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/categories", category);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
    }

    private void Return()
    {
        categoryForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/categories");
    }

}
